# Mongo Database environment set up
DATABASE_URL=
# AWS Storage set up
_AWS_ACCESS_KEY_ID=
_AWS_SECRET_ACCESS_KEY=
_AWS_UPLOAD_BUCKET=
_AWS_REGION=
# AWS Cloudfront CDN endpoint and private-public signed url encryption 
NEXT_PUBLIC_AWS_CLOUDFRONT_URL=
_AWS_CLOUDFRONT_KEY_PAIR_ID=
_AWS_CLOUDFRONT_PRIVATE_KEY=
# MinIO (local option) for object storage
USE_MINIO_STORE=
MINIO_ENDPOINT=
# Google OAuth set up
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Root url of deployed app (should be http://localhost:3000 for dev)
NEXT_PUBLIC_DEPLOYMENT_URL=
# Root url of deployed app for Auth.js
AUTH_URL=
# Set as true for Auth.js to work
AUTH_TRUST_HOST=
# OPTIONAL: Google Analytics
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
# OPTIONAL: Set env for feature flagging (dev, prod, local)
# NEXT_PUBLIC_ENVIRONMENT=
# DCC dispatch (Capture Trace automated crawls)
DCC_DISPATCH_URL=
DCC_AUTH_TOKEN=