# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
public/*.mp4
*_b64.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
_.env*.local
.env

# vercel
.vercel
.vscode/

# typescript
*.tsbuildinfo
next-env.d.ts

# mongo
mongo.conf
mongo_db/*

# scripts (for now)
prisma/scripts/reorg-s3-dirs.mjs
prisma/scripts/check-review.ipynb
prisma/scripts/add-capture-task.mjs
prisma/scripts/add-ios-app-to-db.mjs
prisma/scripts/delete-trace.mjs
prisma/scripts/transition-to-cloudfront.mjs
prisma/scripts/archive-duplicate-tasks.mjs
prisma/scripts/explore-capture-stats.mjs

# script outputs
prisma/scripts/stats.txt
prisma/scripts/stats.json
